body  {
	margin : 0px; 
	overflow: hidden;
	font-family: Poppins; 
	user-select: none;
}

/*----------------------------------------------------------------------------*/

/* from https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile*/
@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	.menuList {
		zoom: 0.8;
	}
}

.menuList {
	margin: 0;
	padding: 0;
	z-index:1;	
}
.menuList ul {
	background : rgba(255, 255, 255,0.6);
	list-style: none outside none;
	margin: 0px;
	padding: 0;
}
.menuList ul li {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
}

.menuList ul li.selected {
	background: white;
	color:#00ABB3;
	font-weight: 600;
}

.menuList ul li:hover {
	cursor: pointer;
	background:rgba(255, 255, 255,0.9);
}
.menuList .title {
	background : rgba(255,255,255,0.8);
	text-align: left;
	min-width: 9em;
	padding-left:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

.menuList.location_bottom .title {
	border-top: 3px solid #00BDC6;
}
.menuList.location_top .title {
	border-bottom: 3px solid #00BDC6;
}

.menuList.collapsed .title:after {
	font-family: "FontAwesome";
	content: "\f106";
	display: inline-block;
	padding-right: 3px;
	align-items: center;
	font-weight: 900;
}

.menuList.collapsed ul.container {
	display: none;
}

.menuList .title:hover {
	cursor: pointer;
	background: rgba(255, 255, 255);
}

/* ---------------------------------------------------------------------------*/


#optionsMenu {
	position: fixed; 
	bottom: 0px; 
	left: 13em; 
}
#optionsMenu .title {
	min-width: 11em;
	border-top: 3px solid #00BDC6;
}

/* ---------------------------------------------------------------------------*/


#areaMenu {
	position: fixed; 
	bottom: 0px; 
	left: 0; 
}

@media screen and (orientation:portrait) {
	#areaMenu {
		top: 0px;
		bottom: auto;
		right: auto;
		left: 0px
	}
}

#areaMenu .title {
	min-width: 11em;
	border-top: 3px solid #00BDC6;
}

/* ---------------------------------------------------------------------------*/

#creatorsList {
	position: fixed; 
	bottom: 0px;
}
#creatorsList .title {
	min-width: 11em;
	border-top: 3px solid #00BDC6;
}

/* ---------------------------------------------------------------------------*/

#objectList {
	position: fixed; 
	bottom: 0px; 
	right: 0px; 
}
#objectList .title {
	border-top: 3px solid #00BDC6;
}

#objectList ul li .buttonDelete {
	color: #888;
	font-size: 1em;
	padding-right: 0.5em;
	/*padding: 0.5em;*/
}
#objectList ul li:hover .buttonDelete {
	color: black;
}

#objectList ul li .buttonDelete:hover {
	color: #00BDC6;
}

#objectList ul li .buttonSettings {
	font-size: 1em;
    	color: #888;
	float: right;
}
#objectList ul li:hover .buttonSettings {
	color: black;
}

#objectList ul li .buttonSettings:hover {
	color: white;
}

/* input {
	width: 50%;
	height:3em;
	position:fixed;
	left:11em;
  } */

  button {
	  font-family: inherit;
  }